/* .page-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: absolute;
    z-index: 1000;
} */



/* object(wrapper(label, input)) */
.input_label {
    font-size: 18;
    width: 150px;
    height: 20px;
    margin: 10px;
}

/* all input elements get these options */
.input_element {
    font-size: 12;
    height: 25px;
    width: 600px;
    border: 1px solid;
    margin: 10px;
}

/* textarea is used for commands that arent message_type=dict */
textarea.input_element {
    height: 100px;
}

/* pre is used by the json editor, used any time it makes sense */
pre.input_element {
    height: 400px;
    font-size: 12px;
    overflow: scroll;
}
/* checkbox needs to have narrower width than other input elements */
input[type='checkbox'].input_element {
    width: 25px;
}

.input_object {
    width: 800px;
    height: 600px;
    border-radius: 25px;
    border: 2px solid;
}

.input_table_td_label {
    padding-left: 10px;
    text-align: right;
}

.input_table_td_input {
    align-content: left;
}

.bottom_panel {
    height: 200px;
    width: 100vw;
    bottom: 5px;
    position: absolute;
}

.bottom_panel_textarea {
    height: 180px;
    width: 98vw;
}
