__pycache__/*
VoicemeeterAgent.build/*
VoicemeeterAgent.dist/*
VoicemeeterAgent.onefile-build/*
VoicemeeterAgent.exe
CueStack.build/*
CueStack.dist/*
CueStack.onefile-build/*
CueStack.exe
config-cuestack.json
config-viscaagent.json
config-voicemeeteragent.json
config-atemagent.json
dist/*
